.portfolio__title {
  margin: 0 0 40px 0;
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.portfolio__links-item {
  padding-bottom: 19px;
  border-bottom: 1px solid #E5E5E5;
}

.portfolio__links-item:last-of-type {
  border: none;
  padding: 0;
}

.portfolio__link {
  display: block;
  width: 100%;
  background-color: transparent;
  background-image: url(../../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -.04em;
  transition: opacity .25s ease-in;
}

.portfolio__link:hover {
  opacity: .6;
  cursor: pointer;
  transition: opacity .25s ease-in;
}

@media screen and (min-width: 768px) {
  .portfolio__title {
    margin: 0 0 50px 0;
    font-size: 18px;
    line-height: 20px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio__links-item {
    border-bottom: 1px solid #424242;
  }

  .portfolio__link {
    font-size: 30px;
  }
}