.about-me {
  padding: 70px 14px;
}

.about-me__title {
  padding: 0 0 28px 0;
  margin: 0;
  border-bottom: 1px solid #DADADA;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -.04em;
}

.about-me__student {
  margin: 60px auto 69px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  gap: 40px;
  justify-content: center;
}

.about-me__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-me__name {
  margin: 0 0 20px 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -.04em;
}

.about-me__caption {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
}

.about-me__text {
  margin: 0 0 40px 0;
  font-size: 11px;
  line-height: 16px;
}

.about-me__foto {
  width: 292px;
  height: 352px;
  border-radius: 10px;
  object-fit: cover;
  align-self: center;
}

.about-me__contacts {
  margin: auto 0 0 0;
  display: flex;
  gap: 26px;
}

.about-me__link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  transition: opacity .25s ease-in;
}

.about-me__link:hover {
  opacity: .6;
  cursor: pointer;
  transition: opacity .25s ease-in;
}

@media screen and (min-width: 768px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__title {
    padding: 0 0 23px 0;
    border-bottom: 1px solid #DADADA;
    font-size: 22px;
    line-height: 27px;
  }

  .about-me__student {
    margin: 66px auto 90px;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 49px;
    justify-content: space-between;
  }

  .about-me__foto {
    width: 255px;
    height: 307px;
  }

  .about-me__name {
    margin: 0 0 16px 0;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__caption {
    margin: 0 0 20px 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__contacts {
    gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .about-me {
    padding: 110px 70px 125px 70px;
  }

  .about-me__student {
    margin: 66px auto 100px;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 49px;
    justify-content: space-between;
  }

  .about-me__foto {
    width: 270px;
    height: 327px;
  }

  .about-me__name {
    margin: 0 0 18px 0;
    font-size: 50px;
    line-height: 58px;
  }

  .about-me__caption {
    margin: 0 0 26px 0;
    font-size: 18px;
    line-height: 20px;
  }

  .about-me__text {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
  }
}